extends ./jade/includes/layout-pages.jade

//- Head html tag
block title
	title Formulario acceso invitados

//- Content page
block content
	
	div.formulario_tecnologia
		h1 ¡Bienvenido!
		
		p Regístrese para obtener el acceso a invitados
		
		form
		
			label(for="fname") Nombre de usuario:
			input(type="text" id="nombre" name="nombre")
			
			label(for="fname") Contraseña:
			input(type="text" id="password" name="password")
				
			input(type="submit" value="iniciar sesión")
			
		p.fallback_link: a(href='#' target='_blank') o registro para acceder como invitado
	
	
	
	
	